@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


main {
    max-width: 100%;

}


body {
  
  font-family: 'Delicious Handrawn', sans-serif;
  font-style: normal;
  min-width: 100%;
  background-color: #d2d2d2;
  }
  
  main {
    background-color: #d2d2d2;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
  }

  header,
  footer,
  main {
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
  }
  header,
  footer {
    background-color: #d5d5d5;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  header {
    position: relative;
  }

  header, footer{
    background-color: #ffffff;
    border: 1px black solid;        
}

header{
    position: relative;
}



.header-top{
    display: grid;    
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.header-icons{    
    text-align: center;
}

.header-today{
    text-align: center;
    background-color: #d49764;
    padding: .25rem;
}


.footer-content{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.footer-base{
    text-align: center;
}

.footer-contact{
    text-align: center;
}

.footer-map{
    text-align: center;    
}

hr{
    height: 3px;
    background-color: #FACFAD;    
    border: none;        
}


nav {
    background-color: #fff;
    max-width: 832px; 
    min-width: 480px;
    margin: 0 auto;
    
    font-family: Delicious Handrawn; 
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1em;
    margin-block: 0px;
    width: 100%;
    background-color: #ffffff;  
  }
  
  nav ul li {
    border: 1px solid #d5d5d5;
    width: 100%;
    color: #032940;
  }
  




  nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;    
    color: #000000;
  }
  
  nav ul li a:hover{
    background-color: rgba(0,0,0,0.2);  
    color: #000000;
  }

  #nav-logo {
    display: none;
  }
  #navbar{
    display: none;
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
  }
  
  #menu-open.menu-active{
    display: inline;
  }
  
  #menu-closed.menu-active{
    display: none;
  }

  #weathericon {
    background-color: #8aa8e0;
}

.main-weather{
  grid-area: 1fr;
  text-align: center;
  background-color: #dfdfdf;
  padding: 1em;
  margin: 2em;


}


nav ul{


  left: -1px;
  display: none;
  flex-direction: column;    
  width: auto;
  padding-inline-start: 0px;
   
  z-index: 1;
}

nav ul li{
  list-style: none;    
  flex: 1;
  border: 1px black solid;
 
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1rem;
  background-color:#fff;  
  font-size: 1.25rem;
}

nav ul li a.active{
  background-color:#ffffff;      
}


nav ul li a:hover{    
  background-color:#dfdfdf;      
  color: #2f947e;
}

.header-logo a img{
  width: 100px;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 1em;
  
}

#hamburger-menu{
  background-color: #e05f6d;
  border: 0;    
  margin: 10px;
  position: absolute;
  position: relative;
  left: 0px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

#hamburger-x{
  display: none;
}

#hamburger-equiv{
  display: inline;
}

nav ul.menu-active{
  display: flex;
}

#hamburger-x.menu-active{
  display: inline;
}

#hamburger-equiv.menu-active{
  display: none;
}

header, footer{
  background-color: #fff;
  border: 1px black solid;        
}

header{
  position: relative;
}

.header-top{
  display: grid;    
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.header-icons{    
  text-align: center;
}

.header-today{
  text-align: center;
  background-color: #dfdfdf;
  padding: .25rem;
}

/* Footer */
.footer-content{
  display: flex;    
  flex-direction: column;
  align-items: center;
}

.footer-base{
  text-align: center;
}

.footer-contact{
  text-align: center;
}

.footer-map{
  text-align: center;    
}

hr{
  height: 3px;
  background-color: #dfdfdf;    
  border: none;        
}



/*-------------------------------------------*/

#main-top {
  background-color: #2f947e;
  padding: 3em;
  width: auto;


}

#main-hero {
  background-color: #fff;
  padding: 3em;
  align-items: center;
  grid-template-columns: 1fr;
}
.hero-img {
  background-image: url(../images/heroFruit.jpg);
  background-size: cover;
  margin: auto;
  padding: 3em;

  min-height: 200px;
  
}


.call-to-action {
  padding: 1em;
  color: black;
  background-color: #9DE069;
  box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.6);
  text-align: center;
  
}

#hero-button {
  margin: auto;
  background-color: #e05f6d;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);

}
.header-title {
  font-family: 'Delicious Handrawn', sans-serif;
}
.header-icons a img{
  width: 40px;
  border-radius: 50%;
}
#summary img{
  max-width: 98vw;
  min-width: 50vw;
}
#summary {
  display: block;
}

#summary p {
  margin: auto;
  padding: 3em;
}


/**/

.main-join{
  grid-area: j;
  display: none;
}

.main-join p{
  text-align: center;
}

.main-join button{
  border-radius: 5px;
  background-color: orange;
  padding: .5rem;
  font-size: 1.5rem;    
  width: 100%;
}

.main-join button a{
  color: white;
  text-decoration: none;
  display: block;
}

.main-join button:hover{
  background-color: orangered;
}

.main-spotlight{
  grid-area: x;
}

.main-spotlight div{    
  background-color: #FACFAD;
}

.main-spotlight img{
  border: 2px black solid;
  max-width: 100%;
}

.main-spotlight h4{
  text-align: center;
}

.main-spotlight p{
  text-align: center;
}

.spotlight3{    
  display: none;    
}

/** Discover page **/

.discover-main section{
  border: 2px black solid;
  margin: 1rem;
}

.discover-image{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 432px;    
}

.discover-image div {    
  margin: 1rem;    
}

.discover-demographics h2 {    
  margin: 1rem;
}

.discover-demographics h3 {    
  margin: 1rem;
}

.discover-main section {    
  margin: 1rem;
}

.discover-main img {
  width: 400px;
  height: auto;
}

/*** Join page ***/
.join{
  display: grid;    
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.join > div{
  margin: 1rem;
  padding: 1rem;
  border: 1px black solid;
  border-radius: 5px;  
  width: 90%;
  min-width: 400px;
}

label.myinput{
  display:block;
  padding-top: 1rem;
}

label.myinput input, label.myinput textarea{
  display:block;
  font-size: 1.2rem;
  padding: .5rem;
  width: 20rem;
  max-width: 20rem;
}

label.myradio{
  display: block;
  margin-right: .2rem;
  font-size: 1.3rem;  
  padding-top: .5rem;
}

label.myradio input{
  margin-right: 1rem;
}

form {
  background-color: #53e9c2;
  padding: 2em;
}

.logo {
  width: 60px;
}

.mysubmit{
  background-color: #2f947e;
  color: white;
  margin: 1rem 0 0 0;
  padding: .5rem;
  font-size: 1.5rem;
}

label.myinput input:required{
  border-color: #e05f6d;
}

.join-confirm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}


#hero2 {
  font-family: nunito;
  font-weight: 600;
  font-size: larger;
  background-image: url(../images/cali3.jpg);
  min-height: 200px;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  background-size: cover;
}

.aboutus {
  display: block;
  margin: auto;
}
#about1 {
  padding: 3em;
  display: flex;
}

.aboutimg {
  width: 200px;
  padding: 1em;
  justify-content: center;
}

#about2 {
  display: grid;
  margin: auto;
  justify-content: center;
  background-color:#2f947e;
}