@media (min-width: 1130px){

    header,
    footer,
    main {
    max-width: 4000px;
    min-width: 480px;
    margin: 0 auto;
    

  }

  
    nav{
      all:unset;
    }
   
    nav ul{
        
        display: flex;
        flex-direction: row;
        
    }

    #nav-logo {
      display:flex ;
    }

    #hamburger-menu{
      display: none;
    }
    #main-top {
      background-color: #2f947e;
      padding: 3em;
      width: auto;
      display: grid;    
      grid-template-columns: 1fr 3fr 1fr;
    
    }
    #summary {
      justify-content: center;
      display: grid;
      
      
    }
  #summary img {
    max-width: 70vh;
    margin: auto;
  }

  #summary img{
    max-width: 98vw;
    min-width: 90vw;
  }

}