@media screen and (min-width: 640px){
    header{
      
        border: 4px black solid;
        max-width: auto;
        
    }
}
@media screen and (min-width: 992px){
    header{
        
        border: 4px black solid;
        max-width: auto;
        
    }

}